body {
    background-color: black;
}

h1, h2{
    text-decoration: underline;
    margin: 2% auto;
    color: white;
    text-align: center;
}

h3 {
    text-decoration: underline;
    margin: 2% auto;
    text-align: center;
}

hr {
    margin-top: 2%;
    border-rounded: 30%;
    background-color: #ccc;
    width: 50%;
}

.col-md-3{
    padding: 1%;
}

.padding-align {
    padding: 2%;
}

.switch-background {
    background-color: white;
    color: black;
}

.table {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.table-overflow {
    overflow-x: auto;
}